# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

/composer.lock

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# Local packages.php config
/packages.local.php

# Vagrant runtime
/.vagrant
.phpunit.result.cache

# Docker runtime
/docker-compose.override.yml

# local phpunit config
phpunit.xml
